.themes {
  max-width: 100%;
  padding: 10px;
}

.padding{
  padding: 30px;
}

.topLine{
  padding-top: 70px;
}

.homesec{
 max-width: 100%;
}

.mainContainer {
  margin-top: 100px;

}

.p-under{
  margin-top: 10px;
  
}

.underline{
  padding-top: 15px;
  font-size: 1.4em;
  border-top: 0;
  line-height: 1.75em;
  border-bottom: 3px solid;
  border-image: linear-gradient(325deg, #9eabe4 0%, #77eed8 74%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  counter-increment: section;
  position: relative;
  color: black;
  border-top-width:0px;
  border-right-width:0px;
  border-left-width:0px;
}

.atIcon{
  height: 20px;
  margin-bottom: 4px;
}

.atText{
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 0px;
}