.startpage {
    background:#ececec;
    color:#303030;
}

.startpage2{
  background:#fff;
  color:#303030;
}


.bg1{background: rgb(229,229,229);
  background: linear-gradient(0deg, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
}

.bg2{background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
}

.divs {
  width: 100%;
  float: left;
  color: black;
  min-height: 100vh;
}


#navbar {
  text-align: center;
  background-color: rgba(245,245,245,0.5);
  padding: none;
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
   display:inline-block;
  transition: top 0.3s;
  z-index: 1;
}

.navButton{
  cursor: pointer;
  font-size: 1.1em;
  padding-right: 10px;
  padding-left: 10px;
}

.navButton:hover{
  background-color: rgba(255,255,255,1);
}

.notMarked{
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
}

.appDiv{
  overflow: hidden;
}