.startpage {
    background:#ececec;
    color:#303030;
}

.startpage2{
  background:#fff;
  color:#303030;
}


.lightToDarkBg{background: rgb(229,229,229);
  background: linear-gradient(0deg, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
}

.darkToLightBg{background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
}

.divs {
  width: 100%;
  float: left;
  color: black;
  min-height: 100vh;
}


#navbar {
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  padding: none;
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  display:inline-block;
  transition: top 0.5s;
  z-index: 1;
}

.navButton{
  cursor: pointer;
  font-size: 1.1em;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navButton:hover{
  background-image:radial-gradient(circle, rgba(209,209,209,1) 0%, rgba(255,255,255,0) 90%);
}

.navButton:visited{
  background-color: rgba(255,255,255,0.5);
}

.navbarStyling{
  padding: 20px;
}

.notMarked{
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
}

.appDiv{
  overflow: hidden;
}